@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

body {
    padding-top: 5rem;
    background-color: blueviolet;
  }


  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

#jumbo{
background-color: teal !important;

;  }

.test{
  align-content:center;
}

h1{
  font-family: 'Sorts Mill Goudy', serif !important;
}